<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Connect Peer</title>
</head>
<body>
    <form action="{% url 'connect_peer' %}" method="post" role="form"> {% csrf_token %}
       <div class="form-group">
            <label for="peer_id">
                Node ID
            </label>
            <input class="form-control" id="peer_id" name="peer_id"/>
        </div>
        <div class="form-group">
            <label for="node_url">
                Node URL
            </label>
            <input class="form-control" id="node_url" name="node_url"/>
        </div>
        <button type="submit" class="btn btn-primary">
            Submit
        </button>
    </form>
</body>
</html>
